<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vego.vego">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user’s emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_home"
        android:label="SCIFIT"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyActionBar">
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppThemeNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HomeActivity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Activity.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Activity.SignupActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Activity.UserDetails"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Activity.BottomNav"
            android:label="@string/title_activity_bottom_nav"
            android:theme="@style/AppThemeNo" />
        <activity android:name=".Activity.ProfileActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".Activity.DayMealsActivity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Activity.MealIngrActivity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Activity.AdminActivity"
            android:theme="@style/AppThemeNo" />
        <activity android:name=".Activity.UpdateProfileActivity" />
        <activity
            android:name=".Activity.AddNewMealActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".Activity.AddNewExerciseActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity android:name=".Activity.ActivityWorkoutUser" />
        <activity android:name=".Activity.ActivityInsideExercise" />
        <activity android:name=".Activity.PasswordActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
    </application>

</manifest>